/* Ajustes para el contenedor del modelo */
.model-viewer {
  width: 100%;         /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  height: 500px;       /* Puedes cambiar la altura si es necesario */
  position: relative;  /* Asegura que el contenedor se posicione correctamente */
  overflow: hidden;    /* Evita que cualquier contenido se desborde */
}

/* Ajustes para el canvas dentro del contenedor */
canvas {
  display: block; /* Evita espacios adicionales debajo del canvas */
  width: 100%;    /* Hace que el canvas ocupe el 100% del contenedor */
  height: 100%;   /* Hace que el canvas ocupe el 100% del contenedor */
}
