.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh; /* Esto asegura que el contenido ocupe toda la altura de la página */
  box-sizing: border-box;
}
